PORT=8000
NODE_ENV=development
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/blogify
JWT_SECRET=supersecretkey12345
PASSWORD_SALT=a7f3b9c2d8e1f4a6b5c9d2e7f1a3b6c8d9e2f4a7b1c3d5e8f2a4b6c9d1e3f5a7

